.gradient-background {
    background: #7A92A9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.dark-mode {
    background-color: #4a4f56; 
    color: #2d2d2d; 
}

header {
    margin-bottom: 20px;
}

h2, p, li {
    color: #2d2d2d; 
}

.topnav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.topnav1 a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.dark-mode .gradient-background {
    background-color: #4a4f56; 
}

.contact {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.social-media,
.phone-number {
    max-width: 400px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

/* Contact section styles */
#title {
    text-align: center;
    color: #333;
    padding: 50px 0;
}

.contact {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.contact h2 {
    color: #333;
}

.contact p {
    color: #555;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0; /* Adjusted padding to make the footer smaller */
}

.nav a {
    color: #fff;
    text-decoration: none;
}
