/* stylemyaccount.css */
body {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Arial', sans-serif; /* Use a fallback font in case Comfortaa isn't available */
    transition: background-color 0.5s, color 0.5s; /* Add transition for a smoother effect */
}
  
  /* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}
  
/* Header styles */
.gradient-background {
    background: #7A92A9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.dark-mode {
    background-color: #4a4f56; 
    color: #2d2d2d; 
}
  
header {
    margin-bottom: 20px;
}

h1, h2, p, li {
    color: #2d2d2d; 
}
  
.topnav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
  
.topnav1 a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.dark-mode .gradient-background {
    background-color: #4a4f56; 
}
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

/* Login form styles */
.myaccount-form {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.myaccount-form h2 {
    text-align: center;
    color: #333;
}

.myaccount-form label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.myaccount-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  
.myaccount-form button {
    width: 100%;
    background-color: #0000FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.myaccount-form button:hover {
    background-color: #add8ed;
}
  
.dark-mode {
    background-color: #333;
    color: white;
}
  