/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
#title {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Sidebar Styles */
.w3-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #f1f1f1;
  color: #333;
  padding-top: 60px; /* Adjust according to header height */
}

.w3-sidebar h3 {
  background-color: #ddd;
  color: #333;
  padding: 10px;
  margin: 0;
}

.w3-sidebar a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.w3-sidebar a:hover {
  background-color: #ccc;
}

/* Main Content Styles */
.container {
  margin-left: 250px; /* Adjust according to sidebar width */
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
      margin-left: 0;
  }
  .w3-sidebar {
      width: 100%;
      height: auto;
      padding-top: 20px;
      position: relative;
  }
}
